@font-face
{
    font-family: 'Caladea';
    @import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap');
}


@font-face
{
    font-family: 'Aileron';
    src: url('../font/Aileron-Regular.otf') format('truetype');
}

html, body{
    margin: 0px;
    
}

body{
    background-color: rgb(191, 150, 75);
    color :white;

}

*, *::before,*::after{
    box-sizing: border-box;
}



header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 17%;
    z-index: 10;
    background-color:rgb(115,108,77);
    display: flex;
    justify-content: space-between;
}


nav{
    width: 50%;
    margin: auto 5% auto 5%;
    background-color: tomato;
}

.logo{
    
    width: 300px;
    height: 250px;   
    margin-left: 5%;
    margin-top: -70px;
    background-color: tomato;
}

ul
{  
    list-style-type: none;
    padding-inline-start: 0px;
    
}



a{
    text-decoration: none;
    color : rgb(179, 179, 179);
    transition: 0.3s;
}


a:hover
{
    color: white;
}


.nav_big_screen
{  
    display: flex;
    justify-content: space-between;
    background-color: rgb(105, 66, 209);
    font-size: 2rem;
}


.nav_sm_screen
{  
    display: none;
}




@media all and (max-width: 1024px){


#navigation{
float: right;
margin-top: 30px;
display: block;
}


#menu_burger span
{
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(110, 110, 110);
  z-index: 1;
}



#navigation:hover
{
    filter: contrast(400%);
    -webkit-filter: contrast(400%);
}


.nav_big_screen
{  
    display: none;
}


}

 

.page1
{
    background: url('../img/background_1.jpg') no-repeat center center;
    box-shadow: inset 0 20rem 5rem rgba(0, 0, 0, 0.5); 
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex: space-between;
}

.textpage1
{
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color:cornflowerblue;
}

h1{
    font-size: 5rem;
    background-color: teal;
    width: 50vw;
    height: 25vh;
    text-align: left;
}



#book{
    margin-top: 7%;
    margin-bottom: 7%;
    width: 218px;
    height: 82px;
    color: white;
    font-size: 2rem;
    background-color: rgb(191, 150, 75);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    
}

#book:hover
{
    -moz-box-shadow: 0px 0px 5px 1px #656565;
    -webkit-box-shadow: 0px 0px 5px 1px #656565;
    -o-box-shadow: 0px 0px 5px 1px #656565;
    box-shadow: 0px 0px 5px 1px #656565;
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}


.page2
{ 
    min-height: 100vh;
    height: 100%;
    z-index: 1;
}

.imgpage2
{
    background: url('../img/bg_all.png') no-repeat -500px -50px;
    background-size: cover;
    height: 50%; 
    z-index: 10;    
}

.textpage2
{
    text-align: center;
    background-color: teal;
    margin: auto;
    width: 45%;
    padding-top: 15%;
    margin-left: 35%;
    text-align: justify;
    font-size: 2rem;
    z-index: 100;
}


.page3{ 
    min-height: 100vh;
    height: 100%;
    background-color:rgb(115,108,77);
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.photopage3{
    width: 50%;
    padding-left: 6%;
    padding-right: 3%;
    padding-top: 17%;
    padding-bottom: 17%;

}

.textpage3{
    width: 40%;
    font-size: 2rem;
    background-color: teal;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.textpage3 h4{
   
    font-size: 4rem;
    
}

#contact{
    width: 210px;
    height: 86px;
    color: white;
    font-size: 2rem;
    background-color: rgb(191, 150, 75);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    
}

#contact:hover
{
    -moz-box-shadow: 0px 0px 5px 1px #656565;
    -webkit-box-shadow: 0px 0px 5px 1px #656565;
    -o-box-shadow: 0px 0px 5px 1px #656565;
    box-shadow: 0px 0px 5px 1px #656565;
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}






.page4 h3{
    text-align: center;
    font-size: 4rem;
    margin-top: 10%;
    background-color: teal;
}


.menu_page4{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2rem;

}


.page5{
    min-height: 100vh;
    height: 100%; 
}


.textpage5{
    width: 45%;
    font-size: 2rem;
    background-color: teal;
    margin-left: 10%;
    margin-top: 25%;
    margin-bottom: 25%;
    text-align: center;
}


.textpage5 h2{
    font-size: 6rem;
}

.textpage5 p{
    text-transform: uppercase;
}

.coupon{
    background-color: white;
    color:rgb(115,108,77);
    font-size: 7rem;
    font-weight: bold;
    margin: auto;
    height: 20vh;
    width: 40vw;
   
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.page6{
    background: url('../img/pasta_panorama_page6.png') no-repeat center center;
    height: 100vh; 
    z-index: 10; 
}


.page7{
    min-height: 100vh;
    
}

blockquote{
    text-align: center;
    font-size:5rem;
    line-height: 10rem;
    margin-top: 20%;
    background-color: teal;
}

.page8{
    min-height: 100vh; 
    background-color:rgb(115,108,77);
}

#mapid {
    height: 500px;
    width: 200px;
    
}

.textpage8{
    min-height: 100vh; 
    background-color:rgb(115,108,77);
}


footer{
min-height: 100vh;
height: 100%;
z-index: 1;
}


.foot_top{
    width: 100%;
    top:0px;
    background-color:rgb(115,108,77);
    height: 120px;
}



.foot_text{
    margin: 10% auto auto auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size:2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: teal;
}

.foot_text1 h6{
    font-size:2rem;
    text-transform: uppercase;
}

.foot_text1{
    flex: 50%;
    background-color:blue;
    
    
}

.foot_text2{
    flex: 15%;
    font-size:2rem;
    text-transform: uppercase;
    background-color:rgb(100, 185, 93);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foot_text2 h6{
    font-size:2rem;
    text-transform: uppercase;
}

.foot_text3{
   padding-left: 5%;
   background-color:rgb(219, 159, 47);
}


.reseaux_sociaux{
    margin: 5% auto 5% auto;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
    
}

.image_contact{
    width: 58px;
    height:58px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.image_contact:hover{
    -moz-box-shadow: 0px 0px 10px 5px #656565;
    -webkit-box-shadow: 0px 0px 10px 5px #656565;
    -o-box-shadow: 0px 0px 10px 5px #656565;
    box-shadow: 0px 0px 10px 5px #656565;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

.foot_bottom{
    width: 100%;
    bottom:0px;
    background-color:rgb(115,108,77);
    height: 120px;
}
